.section_contentn {
    padding-top: 70px;
  }
  
  .contentn_title {
    font-size: 2.5rem;
    line-height: 55px;
  }
  
  .contentn_title span {
    color: #df2020;
  }
  
  .section_contentn p {
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #37474f;
    @media screen and (max-width:576px) {
        font-size: 1.2rem;
    }
  }
  
  .order__btn {
    border: none;
    outline: none;
    padding: 7px 20px;
    border-radius: 5px;
    cursor: pointer;
    background: #df2020;
    color: #fff;
    font-weight: 600;
  }
  
  .order__btn:hover {
    background: #212245;
  }
  
  .order__btn:hover a {
    color: inherit;
    text-decoration: none;
  }
  
  .hero__img {
    margin: 40px;
  }
  
  @media only screen and (max-width: 768px) {
    .section_contentn h5 {
      font-size: 1rem;
    }
  
  
    .contentn_title{
      font-size: 1.5rem;
      line-height: 40px;
    }
    .section_fourdiv h5{
      font-size: 0.9rem;
    }
    .section_fourdiv p{
      font-size: 0.8rem;
      margin-bottom: 0;
    }
    .feature_text{
      font-size: 1rem;
    }
    .subtitle{
      font-size: 2rem;
      margin-bottom: 0;
    }
    .foode_caetagory button{
      padding: 5px 15px;
    }
  }
  
  @media only screen and (max-width: 576px) {
    .section_contentn  {
      text-align: center;
    }
    .section_contentn p{
      font-size: 0.8rem;
      line-height: 25px;
    }
  
    .order__btn {
      justify-content: center;
    }
    .order__btn button{
      padding: 15px 20px;
      justify-content: center;
    }
  }
  .subtitle{
    color:#df2020;
    font-weight: 600;
    font-size: 30px;
  } 
  
  .h_title {
    color:#df2020;

  }
  .feature_text{
    color: #777;
  }
  .section_fourdiv p{
    color:#777;
  }
  .foode_caetagory{
    background: #df2020;
    text-align: center;
    margin-top: 30px;
    padding: 20px 0;
    border-radius: 8px 0;
  }
  .foode_caetagory button{
    border: none;
    outline: none;
    padding: 7px 20px;
    background: transparent;
    color:#fff;
  }
  .foode_caetagory button img{
    width: 20px;
    height: 20px;
  }
  .foodbtnactive{
    background: #fff;
    color: #df2020;
    
  }
  .tasty__treat-title {
    color: #df2020;

  }
  .tasty__treat-desc{
    color:#777;
    list-style: 28px;
  }
  .choose__us-title{
    font-weight: 600;
  }
  .choose__us-title i{
    font-weight: 500 !important;
    color:#df2020;

  }
  .testimonial_subtitle{
    color:#df2020;
  }
  .testimonial_title span{
    color:#df2020;
  }
  .testimonial_desc{
    color:#777;
    line-height: 30px;
  }